<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text font-family="sans-serif" line-height="1.5" font-size="14px">
          <p>
            Dear [Customer Name],
          </p>
          <p>
            Thank you for the opportunity to assess your home and to provide you a quotation for our recommended solutions.<br />
            In order for you to proceed with our proposed solution you will need to:<br />
            1. Read the attached PDF Quotation document.<br />
            2. Pay the deposit. Once the deposit has been paid, our team shall be in contact with you to arrange a suitable date for installation.
          </p>
          <p>
            To pay a deposit by:
          <ul>
            <li>
              Internet Banking: pay to account ANZ 06 0821 0259765 05 and reference the Job number 619197Chr.
            </li>
            <li>
              Credit Card: Phone 0800 777 111 and speak to your local oﬃce.
            </li>
            <li>
              Cheque: Post to EnergySmart, P O Box 19755, Christchurch 8241
            </li>
          </ul>
          </p>
          <p>
            Kind regards,<br />
            <b>The EnergySmart Team</b>
          </p>
        </mj-text>
        <mj-image width="252px" src="/assets/img/logo-small.png"></mj-image>
        <mj-text font-family="sans-serif" line-height="1.5" font-size="12px" color="#999999">
          <p>
            55 Francella Street &bull; PO Box 19755, Christchurch 8241<br />
            0800 777 111 &bull; <a href="https://www.energysmart.co.nz/">energysmart.co.nz</a>
          </p>
          <p>
            EnergySmart Auckland ph: 0800777111<br />
            support@energysmart.co.nz
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>